
/* General */
html, body{
  height:100%;
  font-family: 'Cambria';
}

.websiteLogo {
  position: relative;
  top: 30px;
  left: 0px;
  background-color: white;
  width: 250px;
 }

/* Navigation */
#main-nav {
  position: relative;
  float:left;
  left: 10px;
  width: 20%;
  height:200px;
 }

#main-nav li{
 list-style:none;
}

#main-nav a{
  text-decoration: none;
}

a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #716f7e;
}
a:active {
  color:#b5b5b5;
}

/* Slider */
.slides {
  width: 620px;
  margin: 0 auto;
  position: relative;
}

.slides img {
     height:300px;
  }

 .arrow {
  position: absolute;
  width: 200px;
  height: 100%;
  /*background-color: rgba(250,250,250,0);*/
  z-index: 1000;
  transition: all 0.3s;
  line-height: 300px;
  text-align: center;
 }

 

 .arrow.left:hover{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.46) 64%, rgba(246,246,246,0.45) 65%, rgba(237,237,237,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(64%, rgba(246,246,246,0.46)), color-stop(65%, rgba(246,246,246,0.45)), color-stop(100%, rgba(237,237,237,0)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.46) 64%, rgba(246,246,246,0.45) 65%, rgba(237,237,237,0) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.46) 64%, rgba(246,246,246,0.45) 65%, rgba(237,237,237,0) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.46) 64%, rgba(246,246,246,0.45) 65%, rgba(237,237,237,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.46) 64%, rgba(246,246,246,0.45) 65%, rgba(237,237,237,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  transition: all 0.3;
}

 .arrow.left:hover span,
 .arrow.right:hover span {
    background-image: url(../images/mright.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px;
    display: block; 
    height: 300px;
    opacity: 0.6;
 }

 .arrow.left:hover span {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.arrow.right:hover {
  background: rgba(237,237,237,0);
  background: -moz-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(246,246,246,0.45) 35%, rgba(246,246,246,0.46) 36%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,0)), color-stop(35%, rgba(246,246,246,0.45)), color-stop(36%, rgba(246,246,246,0.46)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(246,246,246,0.45) 35%, rgba(246,246,246,0.46) 36%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(246,246,246,0.45) 35%, rgba(246,246,246,0.46) 36%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(246,246,246,0.45) 35%, rgba(246,246,246,0.46) 36%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(237,237,237,0) 0%, rgba(246,246,246,0.45) 35%, rgba(246,246,246,0.46) 36%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1 );
  transition: all 0.3;

}


 .arrow.left {
  left:0px;
    transition: all 0.3;

 }

 .arrow.right {
  right:0px;
    transition: all 0.3;

  }

.slides .slick-slide {
  min-width: 620px;
}

.slides .slick-slide img{ 
  margin: 0 auto;
}



/*#work {
  width:70%;
  float:right;
}*/

/* Footer */
.end {
  position: fixed;
  bottom: 0;
  left:50px  ;
  width: 500px;
  background-color: white;
  font-size:10px;
  font-family: "Goudy Old Style";
}

                                                                      
